{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools class="hide-print"}}

    {{#paper-sidenav-toggle name="left" class="hide-gt-sm" as |toggleAction|}}
      {{#paper-button onClick=(action toggleAction)}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}

    <h2>Ember DAG generator</h2>

    <span class="flex"></span>

    {{#paper-button mini=true aria-label="Save SVG" onClick=(action "print")}}
      {{paper-icon "printer"}}
    {{/paper-button}}

    {{#paper-button href="https://github.com/MichalBryxi/ember-dag-generator" mini=true aria-label="Favorite"}}
      {{paper-icon "code"}}
    {{/paper-button}}

  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-sidenav-container class="inner-sidenav"}}
  {{#paper-sidenav
    class="md-whiteframe-z2 hide-print"
    name="left"
    open=leftSideBarOpen
    onToggle=(action (mut leftSideBarOpen))
  }}
    {{!-- {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}

        {{#paper-button onClick=(action "reset")}}
          {{paper-icon "refresh"}}
        {{/paper-button}}

        <span>
          Options
        </span>

      {{/paper-toolbar-tools}}
    {{/paper-toolbar}} --}}
    {{#paper-content padding=true}}

      {{paper-input block=true label="Graph color" value=color onChange=(action (mut color)) icon="invert-colors"}}

      {{paper-input block=true type="number" label="Seed" value=seed onChange=(action (mut seed)) icon="autorenew"}}

      <div layout>
        {{paper-input flex=50 type="number" label="width" value=width onChange=(action (mut width)) icon="border-vertical"}}
        {{paper-input flex=50 type="number" label="height" value=height onChange=(action (mut height)) icon="border-horizontal"}}
      </div>

      {{!-- <div layout class="layout-row layout-align-end-center"> --}}
        {{#paper-switch block=true value=isGridVisible onChange=(action (mut isGridVisible))}}
          Display grid
        {{/paper-switch}}
      {{!-- </div> --}}

      <div layout>
        {{paper-slider flex=true discrete=true value=gridScale step='1' min='1' max='50'}}
        <div flex=30 layout layout-align="center center">
          <span>Scale</span>
        </div>
      </div>

      {{#paper-button raised=true onClick=(action "reset" 1)}}
        {{paper-icon "refresh"}} Reset
      {{/paper-button}}

   {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    <div class="layout-fill layout-align-start-center layout-column" style="height: 100vh">
      {{dag-graph color=color isGridVisible=isGridVisible seed=seed sizeX=width sizeY=height gridScale=gridScale}}
    </div>
  {{/paper-card-content}}
{{/paper-sidenav-container}}
